.gitattributes          export-ignore
.gitignore              export-ignore
.github/                export-ignore
.editorconfig           export-ignore
tests/                  export-ignore
phpunit.dist.xml        export-ignore
phpstan.dist.neon       export-ignore
.php-cs-fixer.dist.php  export-ignore
