includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  tmpDir: build/phpstan
  level: 9
  paths:
    - src
    - tests
  bootstrapFiles:
    - vendor/autoload.php
  polluteScopeWithLoopInitialAssignments: false
  polluteScopeWithAlwaysIterableForeach: false
  checkAlwaysTrueCheckTypeFunctionCall: true
  checkAlwaysTrueInstanceof: true
  checkAlwaysTrueStrictComparison: true
  checkExplicitMixedMissingReturn: true
  checkFunctionNameCase: true
  checkInternalClassCaseSensitivity: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  reportMaybesInMethodSignatures: true
  reportStaticMethodSignatures: true
  treatPhpDocTypesAsCertain: false
