name: Release

on:
  push:
    tags:
      - '**'

jobs:
  build:
    name: Create a release
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create release
        uses: crazy-max/ghaction-github-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        with:
          name: ${{ github.ref }} Coding Standard
          draft: true
          prerelease: false
