name: PHPStan Static Analysis

on:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    paths:
      - '**.php'
      - '**.neon.dist'
      - '.github/workflows/**'
      - composer.json
      - phpunit.xml.dist
  push:
    paths:
      - '**.php'
      - '**.neon.dist'
      - '.github/workflows/**'
      - composer.json
      - phpunit.xml.dist

jobs:
  static-analyses:
    name: PHPStan Static Analysis [PHP ${{ matrix.php-version }}]
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - '8.1'
          - '8.2'
          - '8.3'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: tokenizer
          coverage: none

      - name: Get composer cache directory
        id: composer-cache
        run: echo "COMPOSER_CACHE_FILES_DIR=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.COMPOSER_CACHE_FILES_DIR }}
          key: composer-${{ matrix.php-version }}-${{ hashFiles('**/composer.*') }}
          restore-keys: |
            composer-${{ matrix.php-version }}-
            composer-

      - name: Create PHPStan cache directory
        run: mkdir --parents build/phpstan

      - name: Cache PHPStan cache directory
        uses: actions/cache@v4
        with:
          path: build/phpstan
          key: phpstan-${{ github.sha }}
          restore-keys: |
            phpstan-

      - name: Setup Composer's GitHub OAuth access
        run: composer config --global github-oauth.github.com ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: composer update --ansi

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse --ansi --verbose
