name: Coding Standards

on:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    paths:
      - '**.php'
      - '**.neon.dist'
      - '.github/workflows/**'
      - composer.json
      - phpunit.xml.dist
  push:
    paths:
      - '**.php'
      - '**.neon.dist'
      - '.github/workflows/**'
      - composer.json
      - phpunit.xml.dist

jobs:
  coding-standards:
    name: Coding Standards with PHP CS Fixer [PHP ${{ matrix.php-version }}]
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - '7.4'
          - '8.0'
          - '8.1'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: tokenizer
          coverage: none

      - name: Get composer cache directory
        run: echo "COMPOSER_CACHE_FILES_DIR=$(composer config cache-files-dir)" >> $GITHUB_ENV

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: ${{ env.COMPOSER_CACHE_FILES_DIR }}
          key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('**/composer.*') }}
          restore-keys: |
            composer-${{ runner.os }}-${{ matrix.php-version }}-
            composer-${{ runner.os }}-
            composer-

      - name: Setup Composer's GitHub OAuth access
        run: composer config --global github-oauth.github.com ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies on tools
        run: composer update --ansi

      - name: Run PHP CS Fixer
        run: vendor/bin/php-cs-fixer fix --verbose --ansi --dry-run --using-cache=no --diff
